# ─────────────────────────────────────────────
#  Data — never commit genomic data
# ─────────────────────────────────────────────
data/
*.parquet
*.gct
*.gz
*.vcf

# Delta Lake internals
checkpoints/
_delta_log/

# Gold cache (memmap)
data/gold_cache/

# Staging Silver
data/staging/

# ─────────────────────────────────────────────
#  Logs
# ─────────────────────────────────────────────
*.log
logs/

# ─────────────────────────────────────────────
#  Environment and secrets
# ─────────────────────────────────────────────
.env
*.env

# ─────────────────────────────────────────────
#  Python
# ─────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/
*.pyc
*.pyo

# ─────────────────────────────────────────────
#  Jupyter
# ─────────────────────────────────────────────
.ipynb_checkpoints/
*.ipynb_checkpoints

# ─────────────────────────────────────────────
#  Spark
# ─────────────────────────────────────────────
spark-warehouse/
derby.log
metastore_db/

# ─────────────────────────────────────────────
#  Airflow
# ─────────────────────────────────────────────
airflow.db
airflow.cfg
airflow-webserver.pid
airflow/logs/
standalone_admin_password.txt

# ─────────────────────────────────────────────
#  OS
# ─────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─────────────────────────────────────────────
#  IDE
# ─────────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo